		<dl>
			<dt><label for="enable_quick_edit">{{ lang('ENABLE_QUICK_EDIT') ~ lang('COLON') }}</label><br /><span>{{ lang('ENABLE_QUICK_EDIT_EXPLAIN') }}</span></dt>
			<dd><label><input type="radio" class="radio" name="enable_quick_edit" value="1"{% if S_ENABLE_QUICK_EDIT %} id="enable_quick_edit" checked="checked"{% endif %} /> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="enable_quick_edit" value="0"{% if not S_ENABLE_QUICK_EDIT %} id="enable_quick_edit" checked="checked"{% endif %} /> {{ lang('NO') }}</label></dd>
		</dl>
